In [ ]:
%matplotlib inline
%run sim

--------------------------------
Total Profit: $0.00
Total Reward:  520.1080322265625
Total shares:  700
Total cash:  19545.54901123047
--------------------------------
[*********************100%***********************]  1 of 1 completed
Training episode 1
Episode 6 showed irregularity. MSE was 4323555.481530044. Showing big 10 biggest jumps in QTable below.
                 0           1           2
states
0149    134.570472  716.007267  -76.114950
2209      0.000000    0.000000  476.573498
7219      0.000000    0.000000  363.718973
3229    305.424050    0.000000    0.000000
8319      0.000000    9.803242  286.777346
2119     74.651809  216.951594    0.000000
8219      0.000000  266.333777    0.000000
4229    164.716798   92.821952    0.000000
0129    251.550170    0.000000    0.000000
5229      0.000000  251.438975    0.000000





Training episode 10
Episode 14 showed irregularity. MSE was 438279.35021187813. Showing big 10 biggest jumps in QTable below.
                 0           1           2
states
8349     90.171837  307.656787 -220.164602
0248     30.177966  120.393005    0.000000
1249      9.123434   99.007894   39.543649
3247    108.767205    0.000000    0.000000
2248     14.902623   84.274158    0.000000
7347      0.000000   80.670786    0.000000
4348      0.000000   60.644396    0.000000
5247      0.000000   59.195565    0.000000
8248     14.927706    0.000000   36.388018
0147     50.075591    0.000000    0.000000





Training episode 20
Episode 21 showed irregularity. MSE was 307917.47976574436. Showing big 10 biggest jumps in QTable below.
                 0           1          2
states
0148     93.884321   45.480605   0.000000
1247      0.000000  179.761281 -75.590985
1248     70.374329   10.228143   7.590815
5249    105.296901   14.306612 -33.038256
3247      3.512780   72.392309   0.000000
8349     44.436133   36.137996  -5.716065
7347      0.000000   71.771985   0.000000
0149    -11.282595   41.397757  39.480932
6348      0.000000   65.971201   0.000000
8348     97.558270   14.765537 -48.856493





Training episode 30